# OS specific
.DS_Store
Thumbs.db

# virtual environment
venv/
*.venv/
env/
*.env/

# secrets
.env

# cache and temporary
__pycache__/
*.pyc
*.pyo
*.pyd

# tools
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/

# test database
test.db
*.sqlite
*.sqlite3

# IDE specific
.idea/
.vscode/
