# OS specific
.DS_Store
Thumbs.db

# virtual environment and secrets
venv/
*.venv/
env/
.env
.env.*
*.env

# cache and temporary
__pycache__/
*.py[cod]
*$py.class

# tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/

# test database
*.db
*.sqlite
*.sqlite3
test.db

# IDE specific
.idea/
.vscode/
